/*************************************
                Default
*************************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*
{
    padding: 0;
    margin: 0;
}
body
{
    font-family: 'Poppins';
}


/*************************************
                LOADING
*************************************/
.Loading
{
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #000 #000 transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent rgb(247, 34, 73) rgb(247, 34, 73);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  .loader::before {
    width: 32px;
    height: 32px;
    border-color: #000 #000 transparent transparent;
    animation: rotation 1.5s linear infinite;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

/*************************************
                LOGIN
*************************************/
#loginSection
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    min-height: 90vh;
}
#loginSection > h2
{
    font-size: 40px;
    text-decoration: 4px underline solid rgb(247, 34, 73);
}
.containerLogin
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.loginBx
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid #28C7FA;
    background-color: #fff;
    max-width: 500px;
    height: 500px;
    margin: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.loginBx h3
{
    font-weight: 400;
    font-size: 30px;
    text-decoration: 2px underline #28C7FA;
    text-align: center;
}
.loginBx > p
{
    font-size: 23px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: 2px underline #28C7FA;
    font-weight: 400;
}
.loginBx .loginInputs
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.loginBx .loginInputs input
{
    border: 2px solid #28C7FA;
    padding-left: 5px;
    width: 100%;
    height: 40px;
    margin: 3px;
    font-size: 22px;
}
.loginBx .loginForgot 
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
}
.loginBx .loginForgot p
{
    color: #0550bf;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.loginBx .btnLogin
{
    width: 150px;
    height: 50px;
    background-color: #28C7FA;
    color: #fff;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin: 5px;
}

.signUpBx
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid rgb(247, 34, 73);
    background-color: #fff;
    max-width: 500px;
    height: 500px;
    margin: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.signUpBx > h3
{
    font-weight: 400;
    font-size: 30px;
    text-decoration: 2px underline rgb(247, 34, 73);
    text-align: center;
}
.signUpBx > p
{
    font-size: 23px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: 2px underline rgb(247, 34, 73);
    font-weight: 400;
}
.signUpInputs
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.signUpBx .signUpInputs input
{
    border: 2px solid rgb(247, 34, 73);
    padding-left: 5px;
    width: 100%;
    height: 40px;
    margin: 3px;
    font-size: 22px;
}
.signUpBx .signUpForgot 
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
}
.signUpBx .btnsignUp
{
    width: 150px;
    height: 50px;
    background-color: rgb(247, 34, 73);
    color: #fff;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin: 5px;
}
/*************************************
NAVBAR
*************************************/
header
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.logo a
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    text-decoration: none;
}
.logo img
{
    width: 70px;
    height: 70px;
} 
.logo h1 
{
    font-size: 25px;
    color: #fff;
    font-weight: 400;
}

.menuNavbar
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.menuNavbar ul 
{
    display: flex;
    list-style: none;
}
.menuNavbar ul li
{
    padding: 20px;
}
.menuNavbar ul li a
{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.userLog
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.userLog .profile
{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.userLog .profile li a
{
    color: #fff;
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
}
.userLog .signin
{
    width: 100px;
    height: 30px;
    margin: 5px;
    font-size: 17px;
    cursor: pointer;
    border: none;
    background-color: rgb(247, 34, 73);
    color: #fff;
}

/*************************************
                HOME
*************************************/
#background, #bosque, #backpacker {z-index: 997;}

.ParallaxHome
{
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
    z-index: 998;
}
.ParallaxHome::before
{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 200px;
	background: linear-gradient(to top, #222, transparent);
	z-index: 998;
}
.ParallaxHome img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
}
#textoParallax
{
	position: relative;
	color: #000;
	font-size: 10vh;
	z-index: 998;
	-webkit-text-stroke: 1px #fff;
	text-transform: uppercase;
}
/* CATEGORIAS */
#homeSection 
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 60vh;
    background-color: #fff;
}
#homeSection h2
{
	font-size: 3.5em;
	margin-bottom: 10px;
    font-weight: 400;
    text-decoration: underline 3px solid rgb(247, 34, 73);
	text-align: center;
}

.categoryContainer
{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px 0;
}
.categoryContainer .category
{
    position: relative;
    width: 275px;
    height: 275px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
}
.categoryContainer .category:hover
{
    z-index: 1;
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgba(0,0,0, .5);
}
.categoryContainer .category .categoryImg
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.categoryContainer .category .categoryImg:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg, rgb(247, 34, 73), #000);
    mix-blend-mode: multiply;
    opacity: 0;
    transition: 0.5s;
}
.categoryContainer .category:hover .categoryImg:before
{
    opacity: 1;
}
.categoryContainer .category .categoryImg img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.categoryContainer .category .categoryCont
{
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
}
.categoryContainer .category .categoryCont h3
{
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 20px;
    transform: translateY(200px);
}
.categoryContainer .category:hover .categoryCont h3
{
    transform: translateY(0);
    transition-delay: 0.2s;
}
.categoryContainer .category .categoryCont p
{
    color: #fff;
    transform: translateY(200px);
    transition: 0.3s;
    font-size: 14px;
}
.categoryContainer .category:hover .categoryCont p
{
    transform: translateY(0);
    transition-delay: 0.7s;
}

/*************************************
            Vista de Productos
*************************************/
.itemContainer a 
{
    color: black; 
    text-decoration: none;
}
.itemContainer
{
    display: flex;
    justify-content: center;
    align-items: top;
    width: 100%;
    flex-wrap: wrap;
}
.item
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    width: 250px;
    border-radius: 4px;
    border: 1px solid rgb(247, 34, 73);
}
.item img
{
    max-width: 100%;
    height: 270px;
    object-fit: contain;
}
.item .infoItem
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
} 
.item .infoItem h2 
{
    font-size: 18px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 400;
    width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.item .infoItem .itemPrice
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
}
.item .infoItem .itemPrice p
{
    margin: 0 5px;
    font-size: 12px;
}
.item .infoItem .itemPrice .price
{
    font-size: 25px;
    color: #000;
}
/*************************************
            Detalle de Productos
*************************************/
.vistaProd
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 80vh;
    padding: 20px 100px;
}
.vistaProd img 
{
    height: 500px;
    width: 500px;
    object-fit: contain;
}

.detailInfo
{
    display: flex;
    min-height: 500px;
    width: 600px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 40px;
}
.detailInfo .detailItem h2
{
    font-size: 35px;
    text-transform: capitalize;
    font-weight: 400;
}
.detailInfo .detailItem span 
{
    font-size: 13px;
    text-transform: uppercase;
}

.detailInfo .detailPrice
{
    font-size: 40px;
    font-weight: 500;
}

.detailInfo .detailDescrip h5
{
    font-size: 22px;
    text-decoration: underline;
    font-weight: 400;
}
.detailInfo .detailDescrip p
{
    font-size: 17px;
    margin-top: 5px;
}

.vistaProd .btnAddToCart
{
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    width: 200px;
    height: 60px;
    cursor: pointer;
    font-size: 18px;
    text-transform: capitalize;
    background-color: rgb(247, 34, 73);
    color: #fff;
}

/* Contador */
.contador 
{
    display: flex;
    width: 180px;
    justify-content: space-between;
    align-items: center;
}
.contador p
{
    font-size: 17px;
    font-weight: 400;
}
.contador .btnAumDis button
{
    border-radius: 50%;
    width: 28px;
    cursor: pointer;
    height: 28px;
    margin: 3px;
    font-size: 20px;
    border: none;
    background-color: rgb(247, 34, 73);
    color: #fff;
}


/*************************************
                Carrito
*************************************/
#cartContainer
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 70vh;
    margin: 20px 0;
}
#cartContainer h2
{
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 400;
    text-decoration: 3px underline solid rgb(247, 34, 73);
}
.cartCardContainer
{
    display: flex;
    width: 80%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    margin-bottom: 20px;
}
.cartCard
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 250px;
    margin: 5px;
    border: 1px solid rgb(247, 34, 73);
}
.cartCard img
{
    max-height: 250px;
    width: 100%;
}
.cartCard .cardContent
{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.cartCard .cardTitle
{
    font-size: 20px;
    font-weight: 400;
    text-decoration: 2px underline solid rgb(247, 34, 73);
    text-align: center;
}
.cartCard .cardInfo
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.cartCard .cardInfo .cardPrice
{
    font-size: 21px;
    font-weight: 400;
    margin-left: 6px;
}
.eliminarCard
{
    font-size: 30px;
    cursor: pointer;
    color: red;
    margin-right: 5px;
}
.cantCart
{
    font-size: 18px;
}
.confirmarCart
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.confirmarCart .totalCart
{
    font-size: 28px;
}
.btnsConfirmar
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.btnsConfirmar .btnVaciarCart
{
    border: none;
    width: 200px;
    height: 50px;
    font-size: 21px;
    font-weight: 400;
    color: white;
    margin: 5px;
    background-color: rgb(247, 34, 73);
    cursor: pointer;
}
.btnsConfirmar .btnComprarCart
{
    border: none;
    width: 200px;
    height: 50px;
    font-size: 21px;
    font-weight: 400;
    color: #fff;
    margin: 5px;
    background-color: #28C7FA;
    cursor: pointer;
}
/*************************************
                FOOTER
*************************************/
.footer 
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #000;
}

footer
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.socialFooter
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.socialFooter h4 
{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-decoration: underline 1px solid #fff;
    margin-bottom: 10px;
}
.socialFooter ul 
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    padding: 10px;
    align-items: center;
}
.socialFooter ul li
{
    text-decoration: none;
    padding: 0 10px;
    color: #fff; 
    font-size: 40px;
    cursor: pointer;
}
.socialFooter ul li:hover
{
    color: #28C7FA;
}

.contactFooter
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
.contactFooter h4 
{
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    text-decoration: underline 1px solid #fff;
    margin-bottom: 10px;
}

.contactFooter .inputContactFooter
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.contactFooter .inputContactFooter input
{
    width: 300px;
    height: 50px;
    border: none;
    margin: 5px;
    cursor: pointer;
    padding-left: 5px;
    font-size: 21px;
}
.contactFooter .inputContactFooter button
{
    border: none;
    width: 100px;
    font-weight: 400;
    height: 50px;
    background-color: #28C7FA;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 18px;
    margin: 5px;
}

.copyright
{
    width: 100%;
    background-color: #111;
}
.rights
{
    color: white;
    text-align: center;
}


/*************************************
            MEDIAS QUERY'S
*************************************/
@media (max-width: 1000px){
    header .menuNavbar ul li {padding: 10px;}
}
@media (max-width: 900px){
    .ParallaxHome {display: none;}
    .containerLogin{flex-direction: column;}
}